@using VendorOrderTracker.Models;

@{
  Layout = "_Layout";
}

<h1>Vendor Order Details: </h1>

<h3>Vendor: @Model["vendor"].Name</h3>
<h4>Description: @Model["vendor"].Description</h4>
@foreach (Order order in @Model["orders"])
{
  <ul>
    <li>Order: <a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
    <li>Description: @order.Description</li>
    <li>Price: @order.Price</li>
    <li>Date: @order.Date</li>
  </ul>
}

<h5><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new Order</a></h5>
<h5><a href='/vendors/new'>Add another Vendor</a></h5>
<h5><a href='/vendors'>View all Vendors</a></h5>